.RejoignezTop{
    max-width: 100%;
    margin: auto;
    margin-top: 30px;
}
.RejoignezButtom{
    max-width: 40%;
    margin: auto;
    margin-bottom: 100px;
    margin-top: 30px;
}
.RejoignezText{
    max-width: 70%;
    margin: auto;
    text-align: center;
}
.RejoignezText h1{
    color: rgb(161, 119, 88);
    font-family: initial;
    font-size: 36px;
    font-weight: 900;
    margin-bottom: 25px;
}
.RejoignezText p{
    font-size: 15px;
    font-weight: 500;
    line-height: 30px;
}
.RejoignezButtom input,select{
    width: 100%;
    height: 40px;
    margin-bottom: 20px;
    border-radius: 10px;
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.404);
    padding: 10px 15px 10px 14px;
}
.RejoignezButtom label{
    font-size: 15px;
}
.RejoignezButtom textarea{
    width: 100%;
    margin-bottom: 20px;
    border-radius: 10px;
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.404);
    resize: none;
    padding: 10px 10px 10px 14px;
}
.RejoignezButtom select{
    font-size: 14px;
    color: rgba(122, 120, 118, 0.852);
}
.RejoignezButtom select option{
    font-size: 16px;
    color: black;
}
.RejoignezButtom button {
    width: 100%;
    height: 40px;
    border-radius: 10px;
    outline: none;
    border: none;
    padding: 10px 15px 10px 14px;
    background-color: rgb(161, 119, 88);
    color: white;
    font-weight: 900;
    
}