.containerInscriptionPage{
    position: relative;
    height: 100vh;
    width: 100%;
    background: #f1f1f1;
    padding: 5% 20%;
    justify-content: center;
    align-items: center;
}

.containerInscription{
    position: relative;
    display: flex;
    width: 100%;
    height: 90%;
    flex-direction: column-reverse;
}
.inscription{
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: row-reverse;
}
.inscription .inscriptionRight{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: 60%;
    background: #fffefe;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.inscription .inscriptionLeft {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 30px;
    width: 40%;
    background: rgb(161, 119, 88);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.RegisterFormInscription{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.RegisterFormInscription input {
    position: relative;
    width: 350px;
    height: 35px;
    border: none;
    border-radius: 5px;
    background: #f8f7f7;
    padding: 0 10px;
}
.iconsRegisterInscription{
    position: absolute;
    margin-left: -30px;
    margin-top: 5px;
    font-size: 19px !important;
    color: rgb(161, 119, 88);
}
.inscriptionRight button{
    padding: 10px 30px;
    width: 150px;
    background: transparent;
    border: 1px solid #fff;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    background: rgb(161, 119, 88);
    border-radius: 30px;
    transition: .5s ease;
}
.inscriptionRight button:hover{
    border: 1px solid rgb(161, 119, 88);
    color: rgb(161, 119, 88);
    background: transparent;
}
.inscriptionLeft p {
    color: #fff;
}
.inscriptionLeft button {
    padding: 10px 30px;
    background: transparent;
    border: 1px solid #fff;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    background: black;
    border-radius: 30px;
    transition: .5s ease;
}

.inscriptionLeft button:hover {
    background: #fff;
    color: rgb(161, 119, 88);
}
.inscriptionSocial_media i{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(84, 82, 82, 0.333);
    margin:0 10px 0px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: rgb(161, 119, 88);
    transition: all 0.5s ease;
}
.inscriptionSocial_media i:hover{
    color: white;
    background-color: rgb(161, 119, 88);
}
.connect {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
}
.inscriptionLeft{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 30px;
    width: 40%;
    background: rgb(161, 119, 88);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.connect .inscriptionRight{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 30px;
    width: 60%;
    background: #fffefe;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.DepassInscription{
    display: flex;
    margin-left: 115%;
}
.DepassInscription a{
    font-style: italic;
    font-size: 26px;
    color: black;
    font-weight: 500;
}
.DepassInscription a:hover{
    color: rgb(161, 119, 88);
    text-decoration: underline;
}
.DepassInscription img{
    width: 40px;
    height: 35px;
    margin-left: 5px;

}


/* responcive */
@media screen and (max-width: 1100px) {
    .containerInscriptionPage {
        padding: 5% 10%;
    }
}


@media screen and (max-width: 990px) {
    .containerInscriptionPage {
        padding: 20% 5%;
    }
}

@media screen and (max-width: 700px) {
    .inscriptionLeft{
        display: none !important;
    }

    .inscriptionRight {
        width: 100% !important;
        border-radius: 10px;
    }

    .inscriptionRight button:last-child {
        display: block;
        background: transparent;
        border: 1px solid #9e5613;
        color: #9e5613;
    }

    .right button:last-child:hover {
        background: #9e5613;
        color: #fff !important;
    }
}

@media screen and (max-width: 400px) {
    .inscriptionRight .RegisterFormInscription input {
        width: max-content;
    }
}


/* @media screen and (max-width: 1100px) {
    body {
        padding: 5% 10%;
    }
} */
