.PlomberieTop{
    max-width: 60%;
    margin: auto;
    margin-top: 90px;
    margin-bottom: 100px;
    text-align: center;
    height: auto;
    
}
.PlomberieTop h1{
   font-size: 25px;
   color: rgb(132, 161, 176);
   margin-bottom: 50px;
   font-weight: 900;
   position: relative;

}
.PlomberieTop h1::after{
    content: '';
    background:rgb(161, 119, 88) ;
    width: 100px;
    height: 5px;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
}
.PlomberieTop h3{
    margin-top: 20px;
    margin-bottom: 30px;
}
.PlomberieSecond{
    margin-bottom: 90px;
}

.PlomberieSecond .PlomberielinkTop{
    padding: 20px;
    background-color:black;
    border-radius: 10px;
    color: rgb(161, 119, 88);
    font-size: 17px;
    margin-left: 20px;
    font-weight: 700;
    box-shadow: 0px 0px 10px  rgba(26, 17, 17, 0.237);
    line-height: 80px;
    justify-content: space-between;

}
.PlomberieSecond .PlomberielinkTop:hover{
    background-color:rgb(161, 119, 88);
    color: white;
}
